<div style="overflow-x: auto;overflow-y: auto; ; max-height:500px;max-width:1000px;">
  <h1 mat-dialog-title align="center">{{data.fanLookupCoefficient.typeName}}</h1>
  <div>
    <img src="assets/images/{{data.fanLookupCoefficient.image}}.png" style="max-height: 400px; max-width: 400px; display: block;
    margin-left: auto;
    margin-right: auto;">
    <br>
    <table align="center" style="max-height:400px;display: inline-block;">
      <ng-container *ngFor="let cells of data.table;let i = index">
        <ng-container *ngIf="i<data.fanLookupCoefficient.fixedHeaderHeight">
          <tr>
            <ng-container *ngFor="let c of cells;">
              <ng-container *ngIf="c != '' && c.endsWith('v')">
                <td>
                  <button mat-raised-button
                          (click)="this.selectCoefficient(c.replace('v',''))">{{c.replace('v','')}}
                  </button>
                </td>
              </ng-container>
              <ng-container *ngIf="c != '' && !c.endsWith('v') && c.endsWith('->colspan')">
                <td [attr.colspan]="data.fanLookupCoefficient.width" style="text-align: center">
                  {{c.replace('->colspan','')}}
                </td>
              </ng-container>
              <ng-container *ngIf="c != '' && !c.endsWith('v') && !c.endsWith('->colspan')">
                <td style="text-align: center">{{c}}</td>
              </ng-container>
              <ng-container *ngIf="c == ''">
                <!--<td>&lt;!&ndash;style="visibility: hidden;">&ndash;&gt;</td>-->
              </ng-container>
            </ng-container>
          </tr>
        </ng-container>
        <ng-container *ngIf="i>=data.fanLookupCoefficient.fixedHeaderHeight">
          <tr style="visibility: collapse">
            <ng-container *ngFor="let c of cells;">
              <ng-container *ngIf="c != '' && c.endsWith('v')">
                <td style="visibility: hidden">
                  <button mat-raised-button
                          (click)="this.selectCoefficient(c.replace('v',''))">{{c.replace('v','')}}
                  </button>
                </td>
              </ng-container>
              <ng-container *ngIf="c != '' && !c.endsWith('v') && c.endsWith('->colspan')">
                <td [attr.colspan]="data.fanLookupCoefficient.width" style="text-align: center;visibility: hidden">
                  {{c.replace('->colspan','')}}
                </td>
              </ng-container>
              <ng-container *ngIf="c != '' && !c.endsWith('v') && !c.endsWith('->colspan')">
                <td style="text-align: center;visibility: hidden">{{c}}</td>
              </ng-container>
              <ng-container *ngIf="c == ''">
                <!--<td>&lt;!&ndash;style="visibility: hidden;">&ndash;&gt;</td>-->
              </ng-container>
            </ng-container>
          </tr>
        </ng-container>
      </ng-container>
    </table>
    <table align="center" style="overflow-y:auto;max-height:300px;display: inline-block;margin-top: -10px">
      <ng-container *ngFor="let cells of data.table;let i = index">
        <ng-container *ngIf="i<data.fanLookupCoefficient.fixedHeaderHeight">
          <tr style="visibility: collapse">
            <ng-container *ngFor="let c of cells;">
              <ng-container *ngIf="c != '' && c.endsWith('v')">
                <td style="visibility: hidden">
                  <button mat-raised-button
                          (click)="this.selectCoefficient(c.replace('v',''))">{{c.replace('v','')}}
                  </button>
                </td>
              </ng-container>
              <ng-container *ngIf="c != '' && !c.endsWith('v') && c.endsWith('->colspan')">
                <td [attr.colspan]="data.fanLookupCoefficient.width" style="text-align: center;visibility: hidden">
                  {{c.replace('->colspan','')}}
                </td>
              </ng-container>
              <ng-container *ngIf="c != '' && !c.endsWith('v') && !c.endsWith('->colspan')">
                <td style="text-align: center;visibility: hidden">{{c}}</td>
              </ng-container>
              <ng-container *ngIf="c == ''">
                <!--<td>&lt;!&ndash;style="visibility: hidden;">&ndash;&gt;</td>-->
              </ng-container>
            </ng-container>
          </tr>
        </ng-container>
        <ng-container *ngIf="i>=data.fanLookupCoefficient.fixedHeaderHeight">
          <tr>
            <ng-container *ngFor="let c of cells;">
              <ng-container *ngIf="c != '' && c.endsWith('v')">
                <td>
                  <button mat-raised-button
                          (click)="this.selectCoefficient(c.replace('v',''))">{{c.replace('v','')}}
                  </button>
                </td>
              </ng-container>
              <ng-container *ngIf="c != '' && !c.endsWith('v') && c.endsWith('->colspan')">
                <td [attr.colspan]="data.fanLookupCoefficient.width" style="text-align: center;">
                  {{c.replace('->colspan','')}}
                </td>
              </ng-container>
              <ng-container *ngIf="c != '' && !c.endsWith('v') && !c.endsWith('->colspan')">
                <td style="text-align: center;">{{c}}</td>
              </ng-container>
              <ng-container *ngIf="c == ''">
                <!--<td>&lt;!&ndash;style="visibility: hidden;">&ndash;&gt;</td>-->
              </ng-container>
            </ng-container>
          </tr>
        </ng-container>
      </ng-container>
    </table>
    <br>
    <div style="text-align: center">Source: {{data.fanLookupCoefficient.tableSource}}</div>
    <br>
  </div>
</div>
<div mat-dialog-actions>
  <!--<button mat-button (click)="onNoClick()">No Thanks</button>-->
  <!--<button mat-button [mat-dialog-close]="data.animal" cdkFocusInitial>Ok</button>-->
</div>
