<div style="overflow-x: auto;overflow-y: auto; ; max-height:500px;max-width:1000px;">
  <h1 mat-dialog-title align="center">{{data.fanLookupCoefficient.typeName}}</h1>
  <div *ngIf="initialStart">
    <mat-progress-bar mode="buffer"></mat-progress-bar>
    <ng-container *ngIf="startBuildPage()"></ng-container>
  </div>
  <div *ngIf="dataAvailable">
    <img *ngIf="data.fanLookupCoefficient.image!='NO_IMAGE_AVAILABLE'"
         src="assets/images/{{data.fanLookupCoefficient.image}}.png" style="max-height: 400px; max-width: 400px; display: block;
    margin-left: auto;
    margin-right: auto;">
    <br *ngIf="data.fanLookupCoefficient.image=='NO_IMAGE_AVAILABLE'">
    <br>
    <ng-container *ngFor="let table of data.tables;let tableCount = index">
      <ng-container *ngIf="data.fanLookupCoefficient.fixedHeaderHeight[tableCount]!=0">
        <table align="center" style="max-height:400px;display: inline-block;">
          <ng-container *ngFor="let cells of table;let i = index">
            <ng-container *ngIf="i<data.fanLookupCoefficient.fixedHeaderHeight[tableCount]">
              <tr>
                <ng-container *ngFor="let c of cells;">
                  <ng-container *ngIf="c != '' && c.endsWith('v')">
                    <td>
                      <button mat-raised-button
                              (click)="this.selectCoefficient(c.replace('v',''))">{{c.replace('v','')}}
                      </button>
                    </td>
                  </ng-container>
                  <ng-container *ngIf="c != '' && !c.endsWith('v') && c.endsWith('->colspan')">
                    <td [attr.colspan]="data.fanLookupCoefficient.width" style="text-align: center">
                      {{c.replace('->colspan','')}}
                    </td>
                  </ng-container>
                  <ng-container *ngIf="c != '' && !c.endsWith('v') && !c.endsWith('->colspan')">
                    <td style="text-align: center">{{c}}</td>
                  </ng-container>
                  <ng-container *ngIf="c == ''">
                    <!--<td>&lt;!&ndash;style="visibility: hidden;">&ndash;&gt;</td>-->
                  </ng-container>
                </ng-container>
              </tr>
            </ng-container>
            <ng-container *ngIf="i>=data.fanLookupCoefficient.fixedHeaderHeight[tableCount]">
              <tr style="visibility: collapse">
                <ng-container *ngFor="let c of cells;">
                  <ng-container *ngIf="c != '' && c.endsWith('v')">
                    <td style="visibility: hidden">
                      <button mat-raised-button
                              (click)="this.selectCoefficient(c.replace('v',''))">{{c.replace('v','')}}
                      </button>
                    </td>
                  </ng-container>
                  <ng-container *ngIf="c != '' && !c.endsWith('v') && c.endsWith('->colspan')">
                    <td [attr.colspan]="data.fanLookupCoefficient.width" style="text-align: center;visibility: hidden">
                      {{c.replace('->colspan','')}}
                    </td>
                  </ng-container>
                  <ng-container *ngIf="c != '' && !c.endsWith('v') && !c.endsWith('->colspan')">
                    <td style="text-align: center;visibility: hidden">{{c}}</td>
                  </ng-container>
                  <ng-container *ngIf="c == ''">
                    <!--<td>&lt;!&ndash;style="visibility: hidden;">&ndash;&gt;</td>-->
                  </ng-container>
                </ng-container>
              </tr>
            </ng-container>
          </ng-container>
        </table>
      </ng-container>
      <br>
      <table align="center" style="overflow-y:auto;max-height:300px;display: inline-block;">
        <ng-container *ngFor="let cells of table;let i = index">
          <ng-container *ngIf="i<data.fanLookupCoefficient.fixedHeaderHeight[tableCount]">
            <tr style="visibility: collapse">
              <ng-container *ngFor="let c of cells;">
                <ng-container *ngIf="c != '' && c.endsWith('v')">
                  <td style="visibility: hidden">
                    <button mat-raised-button
                            (click)="this.selectCoefficient(c.replace('v',''))">{{c.replace('v','')}}
                    </button>
                  </td>
                </ng-container>
                <ng-container *ngIf="c != '' && !c.endsWith('v') && c.endsWith('->colspan')">
                  <td [attr.colspan]="data.fanLookupCoefficient.width" style="text-align: center;visibility: hidden">
                    {{c.replace('->colspan','')}}
                  </td>
                </ng-container>
                <ng-container *ngIf="c != '' && !c.endsWith('v') && !c.endsWith('->colspan')">
                  <td style="text-align: center;visibility: hidden">{{c}}</td>
                </ng-container>
                <ng-container *ngIf="c == ''">
                  <!--<td>&lt;!&ndash;style="visibility: hidden;">&ndash;&gt;</td>-->
                </ng-container>
              </ng-container>
            </tr>
          </ng-container>
          <ng-container *ngIf="i>=data.fanLookupCoefficient.fixedHeaderHeight[tableCount]">
            <tr>
              <ng-container *ngFor="let c of cells;">
                <ng-container *ngIf="c != '' && c.endsWith('v')">
                  <td>
                    <button mat-raised-button
                            (click)="this.selectCoefficient(c.replace('v',''))">{{c.replace('v','')}}
                    </button>
                  </td>
                </ng-container>
                <ng-container *ngIf="c != '' && !c.endsWith('v') && c.endsWith('->colspan')">
                  <td [attr.colspan]="data.fanLookupCoefficient.width" style="text-align: center;">
                    {{c.replace('->colspan','')}}
                  </td>
                </ng-container>
                <ng-container *ngIf="c != '' && !c.endsWith('v') && !c.endsWith('->colspan')">
                  <td style="text-align: center;">{{c}}</td>
                </ng-container>
                <ng-container *ngIf="c == ''">
                  <!--<td>&lt;!&ndash;style="visibility: hidden;">&ndash;&gt;</td>-->
                </ng-container>
              </ng-container>
            </tr>
          </ng-container>
          <ng-container
            *ngIf="checkHtmlReady(tableCount,i,data.fanLookupCoefficient.fixedHeaderHeight[tableCount]+data.fanLookupCoefficient.fixedBodyHeight[tableCount])"></ng-container>
        </ng-container>
      </table>
    </ng-container>
    <br>
    <div style="text-align: center">Source: {{data.fanLookupCoefficient.tableSource}}</div>
    <br>
  </div>
</div>
<div mat-dialog-actions>
</div>
