<html>
<header *ngIf="dataAvailable">
  <h3 class="text-center">Duct Sizer</h3>
</header>
<body [formGroup]="ductSizerForm" *ngIf="dataAvailable">
<div class="data-border">
  This duct sizer is based on Darcy-Weisbach equation which is more accurate and applicable to a wider range of
  temperature and duct size than Hazen-William equation based on which many duct sizing chart are drafted.
</div>
<div>
  <h5 style="margin-left: 1%;">
    Inputs
  </h5>
  <div class="data-border">
    <div class="row">
      <div class="col">
        1- Units
        <div class="data-border">
          <div class="row">
            <div class="col">
              Unit System
              <div class="form-group row">
                <select class="custom-select"
                        [formControl]="ductSizerForm.controls.unitSystem"
                        (change)="this.setRelatedData(ductSizerForm.controls.unitSystem.value)">
                  <option *ngFor="let unitSystem of unitSystemList" [ngValue]="unitSystem"
                          selected="{{unitSystem.defaultOption}}" [selected]="unitSystem.defaultOption">
                    {{unitSystem.key}}
                  </option>
                </select>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col">
        2- Air Temperature
        <div class="data-border">
          <div class="row">
            <div class="col">
              Fluid Temperature
              <div class="form-group row">
                <input type="number" step="any" class="form-control col"
                       [formControl]="ductSizerForm.controls.temperatureInput"
                       [ngClass]="this.setStyleClass(this, ductSizerForm.controls.temperatureInput)">
                <input type="text" class="form-control col" readonly value="{{temperatureUnit.key}}">
              </div>
              <div
                *ngIf="ductSizerForm.controls.temperatureInput.invalid && (ductSizerForm.controls.temperatureInput.dirty || ductSizerForm.controls.temperatureInput.touched)"
                class="note-error">
                Temperature is out of range
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col">
        3- Duct Type
        <div class="data-border">
          <div class="row">
            <div class="col">
              Duct Material
              <select class="custom-select" [formControl]="ductSizerForm.controls.ductMaterial">
                <option *ngFor="let ductMaterial of ductMaterialList" [ngValue]="ductMaterial"
                        selected="{{ductMaterial.defaultOption}}" [selected]="ductMaterial.defaultOption">
                  {{ductMaterial.key}}
                </option>
              </select>
            </div>
            <div class="col">
              Duct Thickness
              <div class="form-group row">
                <input type="number" step="any" class="form-control col"
                       [formControl]="ductSizerForm.controls.ductThickness"
                       [ngClass]="this.setStyleClass(this, ductSizerForm.controls.ductThickness)">
                <input type="text" class="form-control col" readonly value="{{dimensionUnit.key}}">
              </div>
              <div
                *ngIf="ductSizerForm.controls.ductThickness.invalid && (ductSizerForm.controls.ductThickness.dirty || ductSizerForm.controls.ductThickness.touched)"
                class="note-error">
                Duct Thickness is out of range
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div>
      4- Flow Rate & Sizing Criteria
      <div class="data-border">
        <div class="row">
          <div class="col row">
            <div class="col">
              Flow Rate
              <div class="form-group row">
                <input type="number" step="any" class="form-control col"
                       [formControl]="ductSizerForm.controls.flowRateInput"
                       [ngClass]="this.setStyleClass(this, ductSizerForm.controls.flowRateInput)">
              </div>
              <div
                *ngIf="ductSizerForm.controls.flowRateInput.invalid && (ductSizerForm.controls.flowRateInput.dirty || ductSizerForm.controls.flowRateInput.touched)"
                class="note-error">
                Flow Rate is out of range
              </div>
            </div>
            <div class="col">
              Flow Rate Unit
              <select class="custom-select" [formControl]="ductSizerForm.controls.flowRate">
                <option *ngFor="let flowRate of flowRateList" [ngValue]="flowRate"
                        selected="{{flowRate.defaultOption}}" [selected]="flowRate.defaultOption"
                        [innerHtml]="flowRate.key"
                        (change)="this.changeUf(ductSizerForm.controls.flowRate.value)">
                </option>
              </select>
            </div>
          </div>
          <div class="col">
            Duct Shape
            <select class="custom-select" [formControl]="ductSizerForm.controls.ductShape"
                    (change)="this.changeDuctShape(ductSizerForm.controls.ductShape.value)">
              <option *ngFor="let ductShape of ductShapeList" [ngValue]="ductShape"
                      selected="{{ductShape.defaultOption}}" [selected]="ductShape.defaultOption">{{ductShape.key}}
              </option>
            </select>
          </div>
          <div class="col">
            <div *ngIf="ductSizerForm.controls.ductShape.value.value == 1">Enter One Dimension</div>
            <div class="form-group row" *ngIf="ductSizerForm.controls.ductShape.value.value == 1">
              <input type="number" step="any" class="form-control col"
                     [formControl]="ductSizerForm.controls.dimensionInput"
                     [ngClass]="this.setStyleClass(this, ductSizerForm.controls.dimensionInput)">
              <input type="text" class="form-control col" readonly value="{{dimensionUnit.key}}">
            </div>
            <div
              *ngIf="ductSizerForm.controls.ductShape.value.value == 1 && ductSizerForm.controls.dimensionInput.invalid && (ductSizerForm.controls.dimensionInput.dirty || ductSizerForm.controls.dimensionInput.touched)"
              class="note-error">
              Dimension Input is out of range
            </div>
            <div class="form-group row" *ngIf="ductSizerForm.controls.ductShape.value.value == 2">
            </div>
          </div>
        </div>
        <div class="row">
          <button type="button" class="btn btn-primary col align-content-center"
                  (click)="changeSizingCriteria(0)">Pressure Drop Criteria
          </button>
          <div class="col-sm-1"></div>
          <button type="button" class="btn btn-primary col align-content-center"
                  (click)="changeSizingCriteria(1)">Velocity Criteria
          </button>
        </div>
        <div class="row">
          <div class="col">
            <div *ngIf="ductSizerForm.controls.sizingCriteria.value+1 == 1">Max allowed pressure drop</div>
            <div class="form-group row" *ngIf="ductSizerForm.controls.sizingCriteria.value+1 == 1">
              <input type="number" step="any" class="form-control col"
                     [formControl]="ductSizerForm.controls.allowedPressureInput"
                     [ngClass]="this.setStyleClass(this, ductSizerForm.controls.allowedPressureInput)">
              <input type="text" class="form-control col" readonly value="{{pressureUnit.key}}">
            </div>
            <div class="form-group row" *ngIf="ductSizerForm.controls.sizingCriteria.value+1 == 2">
            </div>
            <div
              *ngIf="ductSizerForm.controls.sizingCriteria.value+1 == 1 && ductSizerForm.controls.allowedPressureInput.invalid && (ductSizerForm.controls.allowedPressureInput.dirty || ductSizerForm.controls.allowedPressureInput.touched)"
              class="note-error">
              Pressure Input is out of range
            </div>
          </div>
          <div class="col">
            <div *ngIf="ductSizerForm.controls.sizingCriteria.value+1 == 2">Max allowed velocity</div>
            <div class="form-group row" *ngIf="ductSizerForm.controls.sizingCriteria.value+1 == 2">
              <input type="number" step="any" class="form-control col"
                     [formControl]="ductSizerForm.controls.allowedVelocityInput"
                     [ngClass]="this.setStyleClass(this, ductSizerForm.controls.allowedVelocityInput)">
              <input type="text" class="form-control col" readonly value="{{velocityUnit.key}}">
            </div>
            <div class="form-group row" *ngIf="ductSizerForm.controls.sizingCriteria.value+1 == 1">
            </div>
            <div
              *ngIf="ductSizerForm.controls.sizingCriteria.value+1 == 2 && ductSizerForm.controls.allowedVelocityInput.invalid && (ductSizerForm.controls.allowedVelocityInput.dirty || ductSizerForm.controls.allowedVelocityInput.touched)"
              class="note-error">
              Velocity Input is out of range
            </div>
          </div>
        </div>
        <div id="inner-button" class="row">
          <button class="btn btn-primary align-content-center" type="submit" (click)="calculate()">Calculate</button>
        </div>
        <div id="inner-error-message" class="row" *ngIf="error">
          {{errorMessage.substring(errorMessage.lastIndexOf("-")+1)}}
        </div>
      </div>
    </div>
  </div>
</div>
<div>
  <h5 style="margin-left: 1%;">
    Results
  </h5>
  <div class="data-border">
    <div class="row">
      <div class="col">
        Flow Rate
        <div class="form-group row">
          <input type="text" class="form-control col output-field" readonly value="{{ductSizerForm.controls.o1.value}}">
          <option type="text" class="form-control col output-field" readonly
                  innerHtml="{{ductSizerForm.controls.flowRate.value.key}}">
        </div>
      </div>
      <div class="col-sm-1"></div>
      <div class="col">
        <div *ngIf="ductSizerForm.controls.ductShape.value.value == 2">Circular Duct Size</div>
        <div class="form-group row" *ngIf="ductSizerForm.controls.ductShape.value.value == 2">
          <input type="text" class="form-control col output-field" readonly value="{{ductSizerForm.controls.o2.value}}">
          <input type="text" class="form-control col output-field" readonly value="{{dimensionUnit.key}}">
        </div>
      </div>
      <div class="col-sm-1"></div>
      <div class="col">
        <div *ngIf="ductSizerForm.controls.ductShape.value.value == 1">Rectangular Duct Size</div>
        <div class="form-group row" *ngIf="ductSizerForm.controls.ductShape.value.value == 1">
          <input type="text" class="form-control col output-field" readonly value="{{ductSizerForm.controls.o3.value}}">
          <input type="text" class="form-control col output-field" readonly style="text-align: center;" value="X">
          <input type="text" class="form-control col output-field" readonly value="{{ductSizerForm.controls.o4.value}}">
          <input type="text" class="form-control col output-field" readonly value="{{dimensionUnit.key}}">
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col">
        Flow Velocity
        <div class="form-group row">
          <input type="text" class="form-control col output-field" readonly value="{{ductSizerForm.controls.o5.value}}">
          <input type="text" class="form-control col output-field" readonly value="{{velocityUnit.key}}">
        </div>
      </div>
      <div class="col-sm-1"></div>
      <div class="col">
        Pressure Drop
        <div class="form-group row">
          <input type="text" class="form-control col output-field" readonly value="{{ductSizerForm.controls.o6.value}}">
          <input type="text" class="form-control col output-field" readonly value="{{pressureUnit.key}}">
        </div>
      </div>
    </div>
  </div>
</div>
</body>
</html>
