/* You can add global styles to this file, and also import other style files */
.data-border{
  border-radius: 10px;
  border: 2px solid #000000;
  padding: 15px;
}

.data-border-rectangular{
  border: 2px solid #000000;
  padding: 15px;
}

#inner-button {
  display: table;
  margin: 0 auto;
}

#inner-error-message {
  display: table;
  margin: 0 auto;
  color: red;
}

.state-error {
  color: red;
  border-color: red;
}

.note-error {
  color: red;
  font-size: x-small;
}

.output-field {
  background-color: white;
}

input.output-field:read-only {
  background-color: white;
}

option.output-field:read-only {
  background-color: white;
}

table, th, td {
  border: 1px solid black;
}

.mat-input-underline {
  background-color: silver;
}

.mat-raised-button {
  background-color: silver;
}
